<!DOCTYPE html>
<html>
  <head>
    <title>YouPlay</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-expand navbar-light bg-faded">
        <a class="navbar-brand" href="#">Games</a>
        <form class="form-inline my-2 my-lg-0" action="<%= sales_index_path %>" method="GET">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" name="q" id="q">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
